
<app-header title="Time"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
        Today
      </ion-list-header>
      <ion-item>
          <ion-checkbox color="primary" slot="end"></ion-checkbox>
          <ion-label>
            <h2>Lab Databases</h2>
            <h3>Do not forget the references</h3>
            <p>19:00</p>
          </ion-label>
      </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
        Wed 29 Sep
      </ion-list-header>
      <ion-item>
          <ion-checkbox color="primary" slot="end"></ion-checkbox>
          <ion-label>
            <h2>Exam Databases</h2>
            <h3>Do not forget to study</h3>
            <p>19:00</p>
          </ion-label>
      </ion-item>
      <ion-item>
          <ion-checkbox color="primary" slot="end"></ion-checkbox>
          <ion-label>
            <h2>Exam Numerical Methods</h2>
            <h3>Help :(</h3>
            <p>17:30</p>
          </ion-label>
      </ion-item>
      <ion-item>
          <ion-checkbox color="primary" slot="end"></ion-checkbox>
          <ion-label>
            <h2>Exam AI</h2>
            <h3>You can do it!</h3>
            <p>All day</p>
          </ion-label>
      </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
        Sun 26 Sep
      </ion-list-header>
      <ion-item>
          <ion-checkbox color="primary" slot="end"></ion-checkbox>
          <ion-label>
            <h2>Activity 7.1 Software Development</h2>
            <h3>MGH Design Patterns revision</h3>
            <p>20:00</p>
          </ion-label>
      </ion-item>
      <ion-item>
          <ion-checkbox color="primary" slot="end"></ion-checkbox>
          <ion-label>
            <h2>Activity 7.2 Software Development</h2>
            <h3>Java abstract factory program</h3>
            <p>21:00</p>
          </ion-label>
      </ion-item>
      <ion-item>
          <ion-checkbox color="primary" slot="end"></ion-checkbox>
          <ion-label>
            <h2>Exam AI</h2>
            <h3>You can do it!</h3>
            <p>All day</p>
          </ion-label>
      </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>