
<app-header title="Music"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
        Recently played
      </ion-list-header>
      <ion-item>
          <img slot="start" src="../../assets/img/music.png"/>
          <ion-icon slot="end" name="information-circle-outline"></ion-icon>
          <ion-label>
              <h2>Playlist 1</h2>
              <p>Sep 24, 2020, 12:46:21 PM</p>
          </ion-label>
      </ion-item>
      <ion-item>
          <img slot="start" src="../../assets/img/music.png"/>
          <ion-icon slot="end" name="information-circle-outline"></ion-icon>
          <ion-label>
              <h2>Playlist 2</h2>
              <p>Sep 24, 2020, 12:46:21 PM</p>
          </ion-label>
      </ion-item>
      <ion-item>
          <img slot="start" src="../../assets/img/music.png"/>
          <ion-icon slot="end" name="information-circle-outline"></ion-icon>
          <ion-label>
              <h2>Playlist 3</h2>
              <p>Sep 24, 2020, 12:46:21 PM</p>
          </ion-label>
      </ion-item>
      <ion-item>
          <img slot="start" src="../../assets/img/music.png"/>
          <ion-icon slot="end" name="information-circle-outline"></ion-icon>
          <ion-label>
              <h2>Playlist 4</h2>
              <p>Sep 24, 2020, 12:46:21 PM</p>
          </ion-label>
      </ion-item>
      
  </ion-list>
</ion-content>


